.progress-wrapper {
  width: 100%;
}

.empty-icon {
  width: 100px;
  height: 100px;
  margin-top: 200px;
  transform: translateX(-50%);
  margin-left: 50%;
}

.add {
  position: fixed;
  z-index: 99;
  bottom: 60px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url('../../assets/add.png');
  background-size: cover;
}

.am-list-extra {
  flex: 1;
}

.am-list-content {
  max-width: 50%;
  min-width: 50%;
}
