.current-day {
	color: #000 !important;
	background: #eee !important;
}
.list {
	margin: 12px 12px;
}
.empty {
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px;
	text-align: center;
	background: white;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: #333;
}
.empty-image {
	width: 70px;
	height: 70px;
}
