.App {
  height: 100vh;
}
.myicon{
  width: 22px;
  height: 22px;
  background: url("./assets/My0.svg") center center /  20px 20px no-repeat
}
.myicon-selected{
  width: 22px;
  height: 22px;
  background: url("./assets/My.svg") center center /  20px 20px no-repeat
}

.progressicon{
  width: 22px;
  height: 22px;
  background: url("./assets/progress0.svg") center center /  20px 20px no-repeat
}
.progressicon-selected{
  width: 22px;
  height: 22px;
  background: url("./assets/progress.svg") center center /  20px 20px no-repeat
}
